body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed; /* Hace que el header quede fijo */
    top: 0; /* Lo posiciona en la parte superior */
    width: 100%; /* Asegura que ocupe todo el ancho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

#search-bar {
    width: 50%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#filters {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

#filters label {
    margin-right: 0.5rem;
}

#filters select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#pose-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.pose-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1rem;
    text-align: center;
}

.pose-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5rem;
}

.pose-card h3 {
    margin: 0.5rem 0;
}

.pose-card p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    color: #555;
}
/* Añade estos estilos a tu CSS existente */
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo {
    height: 2em; /* Esto hará que el logo tenga la altura de dos caracteres del texto */
    width: auto; /* Mantiene la proporción de la imagen */
}

h1 {
    margin: 0; /* Elimina el margen por defecto del h1 */
    font-size: 2rem; /* Tamaño de fuente para el título */
}
main {
    margin-top: 120px; /* Ajusta este valor según la altura de tu header */
}
